<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <property name="LOG_HOME" value="logs/demo"/>
    <property name="PATTERN_LAYOUT"
              value="[%d{yyy-MM-dd HH:mm:ss:SSS}][%level][%thread][%logger{36}]-%msg%n"/>
    <property name="APP_ID" value="rom-push-cms"/>

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${PATTERN_LAYOUT}</pattern>
        </encoder>
    </appender>

    <!-- 时间滚动输出 Marker为 info 日志 -->
    <appender name="file—info"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/info/${APP_ID}_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/info/${APP_ID}_info.%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${PATTERN_LAYOUT}</pattern>
        </encoder>
    </appender>


    <!-- 时间滚动输出 Marker为 error 日志 -->
    <appender name="file—error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/error/${APP_ID}_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/error/${APP_ID}_error.%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${PATTERN_LAYOUT}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file—info"/>
        <appender-ref ref="file—error"/>
    </root>
</configuration>